*{
    margin: 0;
    padding: 0;

}

.area-registro{
    margin: 150px auto;
    width: 50vw;
    background-color: #545EF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 20px;

}




div{
    width: 100%;
    display: flex;
}

.ddd input{
    width: 40px;
}
     
#numero{
    width: 4vw
}
.formatacao > div{
    display: flex;
    flex-direction: column;
    flex: 1;
}




input, select{
    width: 100%;
    border-radius: 7px;
    padding: 5px 0;
    border: none;
    font-size: 1.1em;

}
.area-botao{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.botao-cadastrar{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}.titulo-campo{
    display: flex;
    flex-direction: column;
}
.formatacao{
    gap: 1rem;
}
form{
    width: 50vw;

}
.ddd{
    width: 100px;

}
#botao-cadastrar{
    width: 10vw;
    border: none;
    border-radius: 10px;
    


}
@media (max-width: 430px){
.area-registro{
    width: 100vw;
    margin-top: 8vh;
    background: none;
    color: #fff;
}
form{
    width: 85vw;

}
.formatacao{
    flex-direction: column;
}
.endereco-numero, .area-contato, .cidade-cep{
    flex-direction: row;
}
input, select{
    border: 2px solid var(--roxo2-principal);
}
.cep{
    width: 30vw;

}
.botao-cadastrar{
    background-color: var(--roxo2-principal);
    color: #3071FE 50%;
}
.link-login{
    color: var(--roxo2-principal);
}
}