*{
    margin: 0;
    padding: 0;

}
.area-registro{
    margin: 100px auto;
    width: 50vw;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.area-nome{
    display: flex;
    flex-wrap: wrap;
}
.area-contato{
    display: flex;
    
}
.area-emailsenha{
    display: flex;
    

}
.area-endereco{
    display: flex;
    flex-wrap: column;
    width: 50vw;

}
#endereco{
    
    
}
.form-cadastro > div{
    display: flex;
    gap: 30px;
    width: 50vw;

}
.ddd input{
    width: 40px;
}
.endereco-numero{
    width: 100%;
    display: flex;
    
}
.cidade-cep{
    display: flex;
    
}
.area-formulario{


}
.cidade-cep{
    display: flex;
    
}
.area-nome div{
    display: flex;
    flex-direction: column;
}
#numero{
    width: 4vw
}
.formatacao > div{
    display: flex;
    flex-direction: column;
    flex: 1;
}
#numero{
    display: flex;
}
#endereco{
    display: flex;

}
input, select{
    width: 100%;
    padding: 5px 0;
}
.area-botao{
    margin-top: 20px;
    
}