@import url('https://fonts.googleapis.com/css2?family=Playwrite+IE:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Playwrite IE';
}

header{
   background-color: #54F0ED;
   width: 100%;
   height: 120px;
}

nav{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

ul{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    
}

a{
    text-decoration: none;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 20px;

    
}
a:hover{
    background-color: #54C1F0;
    color: #83AAFF;
}

.icons{
    padding: 10px 50px;
    
}

#banner {
    width: 1100px;
    
}
#banner__imagem{
    margin-top: 10px;
    width: 1100px;
    
}

#reservas {
    width: 1100px;
    height: 144px;
    border: 2px dashed #54F0ED;
    color: #545EF0;
    text-align: center;
    margin-top: 10px;


}

.area-banner {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#reservas__botao{
    padding: 20px 60px;
    background-color: #3071FE;
    font-size: 22px;
    border: none;
    border-radius: 15px;

}
#reservas__titulo{
    margin-top: 15px;
}
.area-sobre{
    display: flex;
    width: 1400px;
    margin: 20px auto;
}
.sobre__foto{
    width: 500px;
}
.sobre{
    color: #545EF0;
    width: 500px;
}
.sobre__titulo{
    font-size: 50px;
    margin-top: 30px;

}
.sobre__texto{
    margin-top: 30px;
    font-size: 30px;

}
.area-busca{
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.busca{
    display: flex;
    width: 764px;
    height: 40px;
    border: solid #545EF0;
    border-radius: 20px;
    padding: 5px;

}
.busca__campo{
    flex: 1;
    border: none;
    outline: none;
    font-size: 30px;
}
.busca_butao{
    font-size: 30px;
    


}
.catalogo-titulo{
    font-size: 50px;
    color: #545EF0;
}
.bordados > a > img{
    width: 400px;
    border-radius: 20px;

}
.bordados{
    text-align: center;
}
.catalogo{
    margin: 100px auto;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}